


<!--Detection Modal -->
<div class="modal fade" id="detectionImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detection Image</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="display: flex; justify-content: center;">
                <img src="" id="detectedImage" alt="ImageUnavailable" style="max-width:100%">
            </div>
            <div class="modal-footer">
                <form id="fireStatusForm" action="?" method="post">
                    <div  id="2" class="btn btn-success fire_confirm">Confirm Fire</div>

                    <div  id="3" class="btn btn-warning fire_confirm">Review Mask</div>

                    <div  id="4" class="btn btn-danger fire_confirm">False Positive</div>

                    <input type="hidden" id="confirmFirePathInput" value="" name="img_fire_path">
                    <input type="hidden" id="confirmFireInput" value="" name="confirm_fire">
                </form>
            </div>
        </div>
    </div>
</div>


<!--Live Image Modal -->
<div class="modal fade" id="liveImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Live Image</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="display: flex; justify-content: center; height:25em;">
                <img src="" id="liveFrame" alt="" onerror="this.src='icon/no_connection.png';" style="max-width:100%">
            </div>
            <div class="modal-footer">
                <form action="?" method="post">
                    <div id="saveFrameButton" style="cursor:pointer" class="btn btn-info">Save Frame</div>
                </form>
            </div>
        </div>
    </div>
</div>

